<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pietrantuono.podcasts">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="sensor"
        android:theme="@style/TransparentToolbarTheme"
        tools:replace="android:icon,android:theme"
        >
        <activity
            android:name=".main.view.MainActivity"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".addpodcast.singlepodcast.view.AddSinglePodcastActivity">
        </activity>
        <activity android:name=".addpodcast.singlepodcast.view.EpisodesListActivity">
        </activity>

        <activity
            android:parentActivityName=".main.view.MainActivity"
            android:name=".fullscreenplay.FullscreenPlayActivity"
            android:label="@string/app_name"
            >
        </activity>

        <service
            android:name=".player.player.service.MusicService"
            android:exported="false"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>
        <service
            android:name=".repository.SaveAndDowloandEpisodeIntentService"
            android:exported="false">
        </service>

        <service
            android:name=".downloader.service.DownloaderService"
            android:exported="false">
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="149dc5c633a9120f622c8468fd3423b84f7932c5"/>

    </application>

</manifest>